// Colors

$background-color: rgb(175, 175, 175);
$piano-background-color: rgba(55, 55, 55, 1);
$piano-background-dark-color: rgba(20, 20, 20, 1);
$text-off-color: rgb(158, 158, 158);
$text-link-color: rgb(100, 100, 100);
$heart-color: #FF4E4E;